<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Analyst System</title>

    <link
      href="{{ url_for('static', filename='styles/index.css') }}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <h1>Face Analyst System</h1>
    <h3>Sign In:</h3>
    <div class="buttons">
      <a href="login">
        <button type="submit" class="mybutton1">Login</button>
      </a>
      <a href="register">
        <button type="submit" class="mybutton2">Register</button>
      </a>
  </body>
</html>
