<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='styles/login.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="{{ url_for('static', filename='scripts/register.js') }}"
      defer
    ></script>
    <title>Register</title>
  </head>
  <body>
    <div class="center">
      <h1>Register</h1>
      <form action="/home" method="post" id="registerForm">

        <div class="txt_field">
          <input type="text" name="full_name" id="full_name" required />
          <span></span>
          <label>Full Name</label>
        </div>

        <div class="txt_field">
          <input type="email" name="email" id="email" required />
          <span></span>
          <label>Email</label>
        </div>

        <div class="txt_field">
          <input
            type="password"
            name="password"
            id="password"
            required
            data-real-value=""
          />
          <span></span>
          <label>Password</label>
        </div>

        <div class="txt_field">
          <input
            type="password"
            name="confirm_password"
            id="confirm_password"
            required
            data-real-value=""
          />
          <span></span>
          <label>Confirm Password</label>
        </div>

        <div id="error_message" style="color: red; font-size: 14px; margin-bottom: 10px;"></div>

        <input type="submit" value="Register" />
      </form>
      <button onclick="window.location.href='/'">Home</button>
    </div>
  </body>
</html>
